openapi: 3.0.0

info:
  version: 1.0.0
  title: ""
  description:  Notes:<br><br>
    - Use the platform shard when making requests for PC and PS4 players' season stats for seasons after division.bro.official.2018-09, and for Xbox season stats for seasons after division.bro.official.2018-08. Use the platform-region shard for making any other requests for players' season stats.<br><br>
    - The list of seasons can be queried using both the plaform shard and the platform-region shard.<br><br>
servers:
  - url: https://api.pubg.com/shards/{platform}
    variables:
      "platform":
        enum:
        - "steam"
        - "psn"
        - "xbox"
        - "kakao"
        default: steam
  - url: https://api.pubg.com/shards/{platform-region}
    variables:
      "platform-region":
        enum:
        - "pc-as"
        - "pc-eu"
        - "pc-jp"
        - "pc-krjp"
        - "pc-kakao"
        - "pc-na"
        - "pc-oc"
        - "pc-ru"
        - "pc-sa"
        - "pc-sea"
        - "psn-as"
        - "psn-eu"
        - "psn-na"
        - "psn-oc"
        - "xbox-as"
        - "xbox-eu"
        - "xbox-na"
        - "xbox-oc"
        - "xbox-sa"
        default: pc-na

security:
  - ApiKeyAuth: []

paths:
  /seasons:
    $ref: './paths/index.yml#/seasons'
    
  /players/{accountId}/seasons/{seasonId}:
    $ref: './paths/index.yml#/playerSeason'

  /seasons/{seasonId}/gameMode/{gameMode}/players:
    $ref: './paths/index.yml#/batchPlayerSeason'

components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      description: "Enter your API key here to be used with the interactive documentation!"
      scheme: bearer
      bearerFormat: JWT

  schemas:
    season:
      $ref: 'schemas/index.yml#/season'
    gameModeStats:
      $ref: 'schemas/index.yml#/gameModeStats'
    matchList:
      $ref: 'schemas/index.yml#/matchList'
