openapi: 3.0.0

info:
  version: 1.0.0
  title: ""
  description: |
    Notes:
    - Use the platform-region shard for seasons that occurred before the Surivor Title System. The platform-shard must be used otherwise.
    - The list of seasons can be queried using both the plaform shard and the platform-region shard.
servers:
  - url: https://api.pubg.com/shards/{platform}
    variables:
      "platform":
        enum:
        - "kakao"
        - "psn"
        - "stadia"
        - "steam"
        - "xbox"
        default: steam
  - url: https://api.pubg.com/shards/{platform-region}
    variables:
      "platform-region":
        enum:
        - "pc-as"
        - "pc-eu"
        - "pc-jp"
        - "pc-krjp"
        - "pc-kakao"
        - "pc-na"
        - "pc-oc"
        - "pc-ru"
        - "pc-sa"
        - "pc-sea"
        - "psn-as"
        - "psn-eu"
        - "psn-na"
        - "psn-oc"
        - "xbox-as"
        - "xbox-eu"
        - "xbox-na"
        - "xbox-oc"
        - "xbox-sa"
        default: pc-na

security:
  - ApiKeyAuth: []

paths:
  /seasons:
    $ref: './paths/index.yml#/seasons'

  /players/{accountId}/seasons/{seasonId}/ranked:
    $ref: './paths/index.yml#/rankedstats'
    
  /players/{accountId}/seasons/{seasonId}:
    $ref: './paths/index.yml#/playerSeason'

  /seasons/{seasonId}/gameMode/{gameMode}/players:
    $ref: './paths/index.yml#/batchPlayerSeason'

components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      description: "Enter your API key here to be used with the interactive documentation!"
      scheme: bearer
      bearerFormat: JWT

  schemas:
    season:
      $ref: 'schemas/index.yml#/season'
    gameModeStats:
      $ref: 'schemas/index.yml#/gameModeStats'
    RankedGameModeStats:
      $ref: 'schemas/index.yml#/rankedGameModeStats'
    matchList:
      $ref: 'schemas/index.yml#/matchList'
